@charset "utf-8";
/*-------------------------------------------------
result Style Sheet
Version : 1.0
Author : JMKIM
Create date : 2017. 03. 31
-------------------------------------------------*/

#wrap {
	width: 940px;
	margin: auto;
	letter-spacing: -0.05em;
	font-size: 93.8%;
	}
.survey_info {
	padding: 64px 100px;
	color: #fff;
	background: url(../../../images/template/survey/bg_header.gif) no-repeat center 0;
	font-size: 15px;
	}
.survey_info h1 {
	width: 400px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 3px solid #ff7724;
	line-height: 50px;
	font-size: 2.867em;
	font-weight: 400;
	word-break: keep-all;
	}
.survey_info h1 strong {
	display: block;
	color: #ff7724;
	font-size: 1.163em;
	font-family: NotoB;
	}
.survey_info p {
	line-height: 26px;
	opacity: 0.8;
	}
.result {
  	padding: 34px 100px;
  	background-image: url(../../../images/template/survey/bg_header2.gif);
	}
.result .count {
  	font-size: 23px;
  	line-height: 38px;
	}
.result .count strong {
 	color: #ff7724;
  	font-size: 52px;
	}
.result p {
  	opacity: 1;
	}
.result p strong {
  	color: #ffa405;
	}
#content {
	margin-bottom: 100px;
	}	
/* 목록 */
.part_area {
	padding: 0 80px;
	}
.title {
	position: relative;
	padding: 60px 0;
	text-align: center;
	}
.title span {
	display: inline-block;
	width: 314px;
	height: 40px;
	background: url(../../../images/template/survey/bg_section_title.gif) 0 0 no-repeat;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	}
.title:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	margin-top: -1px;
	background-color: #ff7724;
	content: "";
	z-index: -1;
	}
.title + .question {
	margin-top: 0;
	}
.title + .box {
	margin-top: -40px;
	}
.bullet {
	margin: 70px 0 15px;	
	color: #222;
	font: 400 20px NotoD;
	}
.bullet strong {
	position: relative;
	font-family: NotoB;
	}
.bullet strong:after {
	position: absolute;
	top: -5px;
	left: 0;
	width: 65px;
	height: 3px;
	background-color: #222;
	content: "";
	}
.question {
	margin: 40px 0 20px;
	position: relative;
	color: #222;
	font-size: 16px;
	overflow: hidden;
	}
.question em {
	display: block;
	float: left;
	width: 58px;
	height: 34px;
	background: url(../../../images/template/survey/bg_qtitle.gif) 0 0 no-repeat;
	color: #ff7724;
	margin-right: 10px;
	padding-left: 8px;
	line-height: 30px;
	}
.question span {
	position: relative;
	display: block;
	margin-top: 5px;
	letter-spacing: -0.05em;
	font-weight: bold;
	overflow: hidden;
	}
.answer_choice {
	margin-left: -25px;
	font-size: 15px;
	overflow: hidden;
	}
.answer_choice > li {
	margin-bottom: 10px;
	padding-left: 25px;
	color: #63646f;
	}
.answer_choice > li input {
	margin-top: 0;
	}
.answer_choice > li input[type="radio" i] {
	width: 15px;
	height: 15px;
	}
.table_wrap {	
	display: table;
 	position: relative;
 	width: 100%;
	border-top: 3px solid #a8a9ab;
	border-bottom: 3px solid #a8a9ab;
	overflow: hidden;
	}
.tstyle_list {
	width: 100%;
	margin-left: -1px;
	}
.tstyle_list th {
	padding: 15px 20px;
	border-left: 1px solid #e2e3e4;
	border-bottom: 1px solid #c6c7c9;
	}
.tstyle_list tbody tr.even {
	background-color: #fbfbfc;
	}
.tstyle_list tbody th {
	padding: 10px 15px;
	font-weight: 400;
	}
.tstyle_list td {
  	padding: 10px 15px;
  	border-left: 1px solid #e2e3e4;
  	border-bottom: 1px solid #e2e3e4;
  	text-align: center;
	}
.tstyle_list td input[type="checkbox"],
.tstyle_list td input[type="radio"] {
	width: 15px;
	height: 15px;
	}
.tstyle_list td.txt_left {
	text-align: left;
	}
.tstyle_list th.no_padding,
.tstyle_list td.no_padding {
	padding: 0;
}

.table_wrap .add {
 	margin-top: 10px;
	}
.demography_area {
	margin-top: 20px;
	padding-bottom: 60px;
	background-color: #f7f8f9;
	}
.demography_area .title span {
	position: relative;
	background-image: url(../../../images/template/survey/bg_section_title2.gif);
	color: #222;
	z-index: 2;
	}
.demography_area .title:after {
	background-color: #222;
	z-index: 1;
	}
.demography_area .question {
	position: relative;
	margin: 40px 0 20px;
	color: #222;
	font-size: 16px;
	overflow: hidden;
	}
.demography_area .question em {
	width: 85px;
	background: url(../../../images/template/survey/bg_qtitle2.gif) 0 0 no-repeat;
	color: #fff;
	}
.demography_area .title + .question {
	margin-top: 0;
	}
.answer_info {
	margin: 50px 0;
	padding-top: 40px;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	color: #222;
	overflow: hidden;
	}
.answer_info .subject {
	margin: 25px 0;
	padding: 10px 0;
	background-color: #222;
	color: #fff;
	text-align: center;
	letter-spacing: 0.25em;
	font-weight: 400;
	}	
.answer_info .list {
	margin-bottom: 8px;
	overflow: hidden;
	}
.answer_info .list li {
	float: left;
  	width: 50%;
	}
.answer_info .list label {
	position: relative;
	display: inline-block;
	width: 140px;
	font-size: 15px;
	color: #222;
	}
.answer_info .list label:after {
	position: absolute;
	top: 3px;
	left: 128px;
	width: 1px;
	height: 16px;
	background-color: #909091;
	content: "";
	}	
.final {
	color: #222;
	text-align: center;
	font-size: 17px;
	}
.final .btn {
	width: 303px;
	height: 55px;
	margin-top: 20px;
	background: #366cdf;
	border-color: #366cdf;
	color: #fff;
	font-size: 18px;
	}
.final .btn:hover {
	background: #fff;
	color: #366cdf;
	}	
/* 결과 */
.black_title {
	position: relative;
    margin: 40px 0 20px;	
    color: #222;
    font-size: 16px;
	overflow: hidden;
	}
.black_title em {
	display: block;
	float: left;
	margin-right: 10px;
	padding-left: 8px;
	line-height: 30px;
	}
.black_title span {
	position: relative;
	display: block;
	letter-spacing: -0.05em;
	overflow: hidden;
	}
.table_wrap .graph {
	float: left;
	width: 370px;
	text-align: cetner;
	overflow: hidden;
	}
.graph_result {
	display: table-cell;
	letter-spacing: -0.05em;
	 vertical-align: middle;
	overflow: hidden;
	}
.graph_result > li {
	padding: 10px 0;
	border-top: solid 1px #e2e3e4;
	overflow: hidden;
	}
.graph_result > li:first-child {
	border-top: none;
	}
.graph_result > li > strong {
	display: block;
	float: left;
	width: 265px;
	font-weight: normal;
	}
.graph_result .number {
  	float: right;
	}
.graph_result .number span {
	display: inline-block;
	width:42px;
	text-align: right;
	}	
.graph_result .percent {
	position: relative;
	padding-right: 15px;
	color: #ff7724;
	font-size: 18px;
	font-weight: 700;
	}
.graph_result .percent:after {
	position: absolute;
	top: 5px;
	right: 0;
	color: #63646f;
	font-size: 14px;	
	content: "%";
	}
.tag {
	display: inline-block;
	margin: 10px 0;
	padding: 5px 10px;
	background: #dee2ea;
	color: #222;
	text-align: center;
	}
.bg_list li {
	margin-top: 10px;
	padding: 10px 15px;
	color: #484952;
	background: #eceef3;
	border-radius: 0 0 0 10px;
	font-size: 14px;
	}
.list > li:first-child {
/*   	margin-top: 20px;	 */
	}	